#variable {mud_host} {tj.sjever.net}
#variable {mud_port} {5555}

#config charset GBK1TOUTF8

#read mapper.tt
#read logger_v2.tt
#read login.tt

#ALIAS conn {
    #showme 正在连接书剑 MUD (tj.sjever.net:5555)...;
    #session sj tj.sjever.net 5555
}

#ALIAS login {
    #showme <138>[登录] 加载凭据;
    load_credentials
}

monitor_start
