/* AI 命令执行文件 - 由 AI 修改此文件来执行命令 */

#showme <158>[测试] tintin.tt 已加载

/* 地图系统 action */
#action {  (.+) \((.+)\)$} {
    #showme <138>[地图] NPC: %1 (%2)
}

#action {    这里明显的出口是 (.+)\.$} {
    #showme <158>[地图] 出口: %1
}

look

